/**
 * @name Maddi
 * @author meganekkogekiluv
 * @version 1.0.1
 */

@import url(https://croissantdunord.github.io/discord-adblock/adblock.css);
@import url(https://croissantdunord.github.io/discord-adblock/adblock-extras.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Microsoft.css);
@import url(https://milbits.github.io/oldcord/src/components/vars.css);
@import url(https://milbits.github.io/oldcord/src/components/color.css);
@import url(https://milbits.github.io/oldcord/src/components/imgs.css);
@import url(https://milbits.github.io/oldcord/src/components/redesign.css);
@import url(https://github.com/meganekkogekirabu/vencord/raw/refs/heads/main/vars.css);
@import url(https://github.com/meganekkogekirabu/vencord/raw/refs/heads/main/amoled-cord.theme.css);

/* Hide quests from the gift inventory */
div[class^="container_"][style*="discovery/quest-mountain"] { display: none; }

/* Hide quests tab from Discover */
div[class^="categoryItem_"]:nth-last-of-type(2) { display: none; }

/* Completed quest profile badge (doesn't provide any use so...) */
div[class^=tags] div[role="group"] > div > a[href="https://discord.com/discovery/quests"] { display: none; }

/* Promoted quest inside "Active Now" friends' profiles */
div[class^=wrapper]:has(div[class^=instructions]) { display: none; }

/* Hide "Play Again" activities heading in DMs list */
li[role="listitem"] ~ div[class^="container"]:has(div[class^="iconContainer"]) { display: none; }

/* Hide "Active Now" sidebar in friends list */
div[class^="nowPlayingColumn"] { display: none; }

/* Hide "Quest Reward" Panel above user info */
section[class^="panels"] > [class*="mask"]:has([class*="questRewardTile"]) { display: none; }

/* Hide apps button */
form > div[class^="channelBottomBarArea_"] { div[class^="channelAppLauncher_"] { display: none; } }

/* Remove gap between "... online" and first server icon */
.base_c48ade .sidebar_c48ade > .guilds_c48ade {
    & .scroller_ef3116 {
        > div[style]:not([class]) {
            min-height: 0;
        }
    }
}

/* Fix extra border around the message box */
.scrollableContainer__74017 {
    border-radius: 3px;
}

:where(.visual-refresh) .themedBackground__74017 {
    background: var(--black) !important;
}
