/**
 * @name Maddi
 * @author moeluvr
 * @version 1.0.2
 */

@import url(https://croissantdunord.github.io/discord-adblock/adblock.css);
@import url(https://croissantdunord.github.io/discord-adblock/adblock-extras.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Microsoft.css);

/* Hide quests from the gift inventory */
div[class^="container_"][style*="discovery/quest-mountain"] { display: none; }

/* Hide quests tab from Discover */
div[class^="categoryItem_"]:nth-last-of-type(2) { display: none; }

/* Completed quest profile badge (doesn't provide any use so...) */
div[class^=tags] div[role="group"] > div > a[href="https://discord.com/discovery/quests"] { display: none; }

/* Promoted quest inside "Active Now" friends' profiles */
div[class^=wrapper]:has(div[class^=instructions]) { display: none; }

/* Hide "Play Again" activities heading in DMs list */
li[role="listitem"] ~ div[class^="container"]:has(div[class^="iconContainer"]) { display: none; }

/* Hide "Active Now" sidebar in friends list */
div[class^="nowPlayingColumn"] { display: none; }

/* Hide "Quest Reward" Panel above user info */
section[class^="panels"] > [class*="mask"]:has([class*="questRewardTile"]) { display: none; }

/* Hide apps button */
form > div[class^="channelBottomBarArea_"] { div[class^="channelAppLauncher_"] { display: none; } }

.wrapper_ebee1d {
  display: none;
}

span[class^="chipletContainerInner__"]:has(img[class^="badge__"]) {
  display: revert;
  border-radius: 20px;
  background-color: var(--background-base-low);
  padding-right: 5px;
  border: solid 1px var(--border-faint);
}
